.quantity-section {
    .content {
        @include dflex-center {
            flex-direction: column;
        }
        text-align: center;
        margin-bottom: 115px;
        .title {
            font-size: $headingSize;
            font-weight: 800;
            width: 50%;
            margin-bottom: 24px;
        }
        .text {
            width: 55%;
        }
    }
    .quantity-list {
        position: relative;
        @include dflex-center {
            justify-content: center;
            column-gap: 21.67px;
        }
        &::before,
        &::after {
            content: "";
            display: block;
            width: 235px;
            height: 235px;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
        }
        &::before {
            background: $green-200;
            top: -100px;
            left: -25px;
        }
        &::after {
            background: $orange-200;
            bottom: -100px;
            right: -25px;
        }
        .quantity-item {
            width: 294.167px;
            height: 337.5px;
            border-radius: 3.333px;
            background: $white;
            box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
            padding: 33.33px;

            &.big {
                width: 342.5px;
                height: 392.5px;
                padding: 60.83px 33.33px;
            }
            .image {
                @include dflex-center {
                    justify-content: center;
                }
                width: 83.333px;
                height: 83.333px;
                border-radius: 10px;
                &.orange {
                    background: $orange-100;
                }
                &.green {
                    background: $green-100;
                }
                img {
                    width: 45px;
                    height: 45px;
                }
            }
            .number {
                display: block;
                font-size: 4.33rem;
                font-weight: 800;
                margin: 23.33px 0;
            }
            .desc {
                font-size: 2rem;
            }
        }
    }
}
@include media-extra-desktop {
    .quantity-section {
        @include containerWidth(1140px);
    }
}
@include media-desktop {
    .quantity-section {
        .container {
            max-width: 960px;
        }
        .content {
            .title {
                font-size: $headingSize-desk;
            }
            .text {
                font-size: 1.5rem;
            }
        }
        .quantity-list {
            &::before,
            &::after {
                width: 180px;
                height: 180px;
            }
            &::before {
                top: -50px;
                left: -20px;
            }
            &::after {
                bottom: -50px;
                right: -20px;
            }
            .quantity-item {
                width: 250px;
                height: 300px;
                &.big {
                    width: 300px;
                    height: 350px;
                }
                .image {
                    width: 65px;
                    height: 65px;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
                .number {
                    font-size: 4rem;
                }
                .desc {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
@include media-tablet {
    .quantity-section {
        @include containerWidth(720px);
        .content {
            margin-bottom: 100px;
            .title {
                width: 60%;
                font-size: $headingSize-tablet;
            }
            .text {
                width: 70%;
            }
        }
        .quantity-list {
            &::before,
            &::after {
                width: 150px;
                height: 150px;
            }
            &::before {
                left: -50px;
            }
            &::after {
                right: -50px;
            }
            .quantity-item {
                padding: 25px;
                &.big {
                    padding: 50px 25px;
                }
                .image {
                    width: 50px;
                    height: 50px;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                .number {
                    font-size: 3.5rem;
                }
                .desc {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
@include media-small-tablet {
    .quantity-section {
        @include containerWidth(540px);
        .content {
            margin-bottom: 60px;
            .title {
                width: 80%;
            }
            .text {
                font-size: 1.4rem;
                width: 80%;
            }
        }
        .quantity-list {
            flex-direction: column;
            column-gap: 0;
            row-gap: 20px;
            &::before,
            &::after {
                width: 120px;
                height: 120px;
            }
            &::before {
                left: 50px;
            }
            &::after {
                right: 50px;
            }
            .quantity-item {
                width: 300px;
                height: 200px;
                padding: 20px;
                &.big {
                    padding: 20px 46px;
                    width: 350px;
                    height: 220px;
                }
                .image {
                    width: 50px;
                    height: 50px;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                .number {
                    margin: 15px 0;
                    font-size: 2.8rem;
                }
                .desc {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@include media-mobile {
    .quantity-section {
        @include paddingTop(70px);
        .quantity-list {
            .quantity-item {
                text-align: center;
                width: 90% !important;
                height: fit-content !important;
                padding-top: 30px;
                padding-bottom: 30px;
                .image {
                    margin-inline: auto;
                }
                .desc {
                    font-size: $textSize-small;
                }
            }
        }
    }
}

@include media-small-mobile {
    .quantity-section {
        @include paddingTop(50px);
        @include containerWidth(100%);
        .content {
            .title,
            .text {
                width: 100%;
            }
            .text {
                font-size: $textSize-small;
            }
        }
        .quantity-list {
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
            .quantity-item {
                width: 100% !important;
            }
        }
    }
}
