* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #2c2c2c;
  line-height: 1.2;
  transition: all 0.3s;
}

section {
  padding-top: 100px;
}

input,
textarea,
select,
option {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #2c2c2c;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #46b20f;
}

::-webkit-scrollbar-thumb:hover {
  background: #46b20f;
}

.container {
  --container-width: 1200px;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 13.333px 11.667px;
  color: #fff;
  border-radius: 6.667px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}
.btn.btn-primary {
  background: #46b20f;
}
.btn.btn-primary:hover {
  background: #ff6916;
}
.btn.btn-outline-primary {
  padding: 11.667px 21.667px;
  border: 1px solid #46b20f;
  color: #2c2c2c;
}
.btn.btn-outline-primary svg {
  float: right;
  margin-top: -2px;
}
.btn.btn-outline-primary:hover {
  background: #46b20f;
}
.btn.btn-outline-primary:hover svg path {
  fill: #fff;
}
.btn:hover {
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 108px;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  z-index: 999;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .logo {
  width: 105px;
  margin-right: auto;
}
.header .logo img {
  width: 100%;
  height: auto;
}
.header .header-wrap {
  display: flex;
  align-items: center;
}
.header .header-wrap .nav ul {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-right: 50px;
}
.header .header-wrap .nav ul a {
  font-size: 1.6rem;
  padding: 45px 0;
  position: relative;
  font-weight: 600;
}
.header .header-wrap .nav ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background: #46b20f;
  transition: width 0.5s ease-in-out;
}
.header .header-wrap .nav ul a:hover, .header .header-wrap .nav ul a.active {
  color: #46b20f;
}
.header .header-wrap .nav ul a:hover::after, .header .header-wrap .nav ul a.active::after {
  width: 100%;
}
.header .header-wrap .actions {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.header .header-wrap .actions .action-item.cart {
  position: relative;
}
.header .header-wrap .actions .action-item.cart::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30%;
  right: -30%;
  content: "3";
  width: 18px;
  height: 18px;
  background: #ff6651;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.header .header-wrap .btn-toggle {
  margin-left: 50px;
}
.header .header-wrap .btn-toggle label {
  color: #2c2c2c;
  cursor: pointer;
  font-size: 2.3rem;
}

@media screen and (max-width: 991.98px) {
  .header .header-wrap .nav {
    position: fixed;
    width: 320px;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    translate: -100% 0;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
  }
  .header .header-wrap .nav ul {
    display: block;
    margin: 40px 0 0 40px;
  }
  .header .header-wrap .nav ul a {
    display: inline-block;
    padding: 15px 0;
    margin-bottom: 20px;
  }
  .header .header-wrap .nav .close-menu {
    font-size: 3rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .header .header-wrap .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5215686275);
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }
  input#open-menu:checked ~ .header .header-wrap .nav {
    translate: 0;
    box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  }
  input#open-menu:checked ~ .header .header-wrap .overlay {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 575.98px) {
  .header {
    height: fit-content;
    padding: 10px 0;
  }
  .header .logo {
    width: 80px;
  }
  .header .header-wrap .actions {
    column-gap: 25px;
  }
  .header .header-wrap .btn-toggle {
    margin-left: 25px;
  }
}
.footer {
  padding: 66.67px 0 26.67px;
  background: #f2ffec;
}
.footer .footer-top {
  padding-bottom: 72.5px;
  border-bottom: 1px solid #a3a3a3;
}
.footer .footer-top .logo-wrap .logo {
  width: 132px;
  height: 89px;
}
.footer .footer-top .logo-wrap .text {
  font-size: 13px;
}
.footer .footer-top .logo-wrap .text span {
  font-size: 1.6rem;
}
.footer .footer-top .title {
  font-size: 1.7rem;
  color: #46b20f;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer .footer-top ul li a,
.footer .footer-top ul li span {
  display: block;
  padding: 5px 0;
}
.footer .footer-top ul li span {
  display: flex;
  align-items: center;
}
.footer .footer-top ul li span.text-bold {
  font-weight: 600;
}
.footer .footer-top ul li span img {
  margin-right: 10px;
}
.footer .footer-bottom {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-bottom .social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-bottom .social ul a {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dcffca;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 991.98px) {
  .footer .container {
    max-width: 720px;
    margin: auto;
  }
  .footer .footer-top .row {
    row-gap: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer .container {
    max-width: 540px;
    margin: auto;
  }
}
@media screen and (max-width: 575.98px) {
  .footer .container {
    max-width: 100%;
    margin: auto;
  }
  .footer .footer-bottom {
    padding-top: 15px;
    flex-direction: column;
  }
}
.hero-section {
  margin-top: 108px;
  padding-top: 0;
  height: 708px;
  position: relative;
  overflow: hidden;
}
.hero-section .container {
  height: 100%;
}
.hero-section .container .row {
  height: 100%;
}
.hero-section .content .pretitle {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.8;
}
.hero-section .content .title {
  font-size: 4.3rem;
  width: 70%;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 27px;
}
.hero-section .content .text {
  width: 78%;
}
.hero-section .images {
  height: 100%;
}
.hero-section .images img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -23% -50%;
  height: 100%;
  width: auto;
}
.hero-section .images p {
  position: absolute;
  top: 50%;
  left: 68%;
  translate: 0 -50%;
  rotate: 90deg;
  font-size: 16.7rem;
  font-weight: 800;
  line-height: 100%;
  color: #216000;
  opacity: 0.15;
}
.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background: #dcffca;
  z-index: -2;
  border-radius: 16.667px 0px 0px 16.667px;
}

@media screen and (max-width: 1399.98px) {
  .hero-section .container {
    max-width: 1140px;
    margin: auto;
  }
  .hero-section .images img {
    height: 90%;
  }
  .hero-section .images p {
    left: 70%;
    font-size: 12.7rem;
  }
}
@media screen and (max-width: 1199.98px) {
  .hero-section {
    height: 500px;
  }
  .hero-section .container {
    max-width: 960px;
    margin: auto;
  }
  .hero-section .content .pretitle {
    font-size: 2.8rem;
  }
  .hero-section .content .title {
    font-size: 3.5rem;
  }
  .hero-section .content .text {
    font-size: 1.5rem;
  }
  .hero-section .images img {
    height: 100%;
  }
  .hero-section .images p {
    font-size: 9.7rem;
  }
}
@media screen and (max-width: 991.98px) {
  .hero-section {
    height: 400px;
  }
  .hero-section .container {
    max-width: 720px;
    margin: auto;
  }
  .hero-section .content .pretitle {
    font-size: 2rem;
  }
  .hero-section .content .title {
    font-size: 3.2rem;
    width: 100%;
  }
  .hero-section .content .text {
    font-size: 1.4rem;
    width: 90%;
  }
  .hero-section .images img {
    height: 90%;
  }
  .hero-section .images p {
    font-size: 7.7rem;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-section .container {
    max-width: 540px;
    margin: auto;
  }
  .hero-section .images img {
    top: 75%;
    left: 70%;
    height: 70%;
  }
  .hero-section .images p {
    top: 28%;
    font-size: 5.7rem;
  }
  .hero-section .overlay {
    left: 0;
    border-radius: 0;
  }
}
@media screen and (max-width: 575.98px) {
  .hero-section {
    height: fit-content;
    margin-top: 80px;
    padding: 50px 0;
    text-align: center;
  }
  .hero-section .container {
    max-width: 100%;
    margin: auto;
  }
  .hero-section .container {
    max-width: 100%;
  }
  .hero-section .content .title,
  .hero-section .content .text {
    width: 100%;
  }
  .hero-section .images img {
    height: 60%;
  }
  .hero-section .images p {
    font-size: 4.7rem;
  }
}
@media screen and (max-width: 450.98px) {
  .hero-section .container {
    max-width: 100%;
    margin: auto;
  }
  .hero-section .content .text {
    font-size: 1.3rem;
  }
}
.quantity-section .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 115px;
}
.quantity-section .content .title {
  font-size: 3.2rem;
  font-weight: 800;
  width: 50%;
  margin-bottom: 24px;
}
.quantity-section .content .text {
  width: 55%;
}
.quantity-section .quantity-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 21.67px;
}
.quantity-section .quantity-list::before, .quantity-section .quantity-list::after {
  content: "";
  display: block;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.quantity-section .quantity-list::before {
  background: #dcffca;
  top: -100px;
  left: -25px;
}
.quantity-section .quantity-list::after {
  background: #ffd5bd;
  bottom: -100px;
  right: -25px;
}
.quantity-section .quantity-list .quantity-item {
  width: 294.167px;
  height: 337.5px;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
  padding: 33.33px;
}
.quantity-section .quantity-list .quantity-item.big {
  width: 342.5px;
  height: 392.5px;
  padding: 60.83px 33.33px;
}
.quantity-section .quantity-list .quantity-item .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83.333px;
  height: 83.333px;
  border-radius: 10px;
}
.quantity-section .quantity-list .quantity-item .image.orange {
  background: #fff0e7;
}
.quantity-section .quantity-list .quantity-item .image.green {
  background: #f2ffec;
}
.quantity-section .quantity-list .quantity-item .image img {
  width: 45px;
  height: 45px;
}
.quantity-section .quantity-list .quantity-item .number {
  display: block;
  font-size: 4.33rem;
  font-weight: 800;
  margin: 23.33px 0;
}
.quantity-section .quantity-list .quantity-item .desc {
  font-size: 2rem;
}

@media screen and (max-width: 1399.98px) {
  .quantity-section .container {
    max-width: 1140px;
    margin: auto;
  }
}
@media screen and (max-width: 1199.98px) {
  .quantity-section .container {
    max-width: 960px;
  }
  .quantity-section .content .title {
    font-size: 3rem;
  }
  .quantity-section .content .text {
    font-size: 1.5rem;
  }
  .quantity-section .quantity-list::before, .quantity-section .quantity-list::after {
    width: 180px;
    height: 180px;
  }
  .quantity-section .quantity-list::before {
    top: -50px;
    left: -20px;
  }
  .quantity-section .quantity-list::after {
    bottom: -50px;
    right: -20px;
  }
  .quantity-section .quantity-list .quantity-item {
    width: 250px;
    height: 300px;
  }
  .quantity-section .quantity-list .quantity-item.big {
    width: 300px;
    height: 350px;
  }
  .quantity-section .quantity-list .quantity-item .image {
    width: 65px;
    height: 65px;
  }
  .quantity-section .quantity-list .quantity-item .image img {
    width: 35px;
    height: 35px;
  }
  .quantity-section .quantity-list .quantity-item .number {
    font-size: 4rem;
  }
  .quantity-section .quantity-list .quantity-item .desc {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 991.98px) {
  .quantity-section .container {
    max-width: 720px;
    margin: auto;
  }
  .quantity-section .content {
    margin-bottom: 100px;
  }
  .quantity-section .content .title {
    width: 60%;
    font-size: 2.5rem;
  }
  .quantity-section .content .text {
    width: 70%;
  }
  .quantity-section .quantity-list::before, .quantity-section .quantity-list::after {
    width: 150px;
    height: 150px;
  }
  .quantity-section .quantity-list::before {
    left: -50px;
  }
  .quantity-section .quantity-list::after {
    right: -50px;
  }
  .quantity-section .quantity-list .quantity-item {
    padding: 25px;
  }
  .quantity-section .quantity-list .quantity-item.big {
    padding: 50px 25px;
  }
  .quantity-section .quantity-list .quantity-item .image {
    width: 50px;
    height: 50px;
  }
  .quantity-section .quantity-list .quantity-item .image img {
    width: 30px;
    height: 30px;
  }
  .quantity-section .quantity-list .quantity-item .number {
    font-size: 3.5rem;
  }
  .quantity-section .quantity-list .quantity-item .desc {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 767.98px) {
  .quantity-section .container {
    max-width: 540px;
    margin: auto;
  }
  .quantity-section .content {
    margin-bottom: 60px;
  }
  .quantity-section .content .title {
    width: 80%;
  }
  .quantity-section .content .text {
    font-size: 1.4rem;
    width: 80%;
  }
  .quantity-section .quantity-list {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
  }
  .quantity-section .quantity-list::before, .quantity-section .quantity-list::after {
    width: 120px;
    height: 120px;
  }
  .quantity-section .quantity-list::before {
    left: 50px;
  }
  .quantity-section .quantity-list::after {
    right: 50px;
  }
  .quantity-section .quantity-list .quantity-item {
    width: 300px;
    height: 200px;
    padding: 20px;
  }
  .quantity-section .quantity-list .quantity-item.big {
    padding: 20px 46px;
    width: 350px;
    height: 220px;
  }
  .quantity-section .quantity-list .quantity-item .image {
    width: 50px;
    height: 50px;
  }
  .quantity-section .quantity-list .quantity-item .image img {
    width: 30px;
    height: 30px;
  }
  .quantity-section .quantity-list .quantity-item .number {
    margin: 15px 0;
    font-size: 2.8rem;
  }
  .quantity-section .quantity-list .quantity-item .desc {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 575.98px) {
  .quantity-section {
    padding-top: 70px;
  }
  .quantity-section .quantity-list .quantity-item {
    text-align: center;
    width: 90% !important;
    height: fit-content !important;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .quantity-section .quantity-list .quantity-item .image {
    margin-inline: auto;
  }
  .quantity-section .quantity-list .quantity-item .desc {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 450.98px) {
  .quantity-section {
    padding-top: 50px;
  }
  .quantity-section .container {
    max-width: 100%;
    margin: auto;
  }
  .quantity-section .content .title,
  .quantity-section .content .text {
    width: 100%;
  }
  .quantity-section .content .text {
    font-size: 1.3rem;
  }
  .quantity-section .quantity-list::before {
    left: 0;
  }
  .quantity-section .quantity-list::after {
    right: 0;
  }
  .quantity-section .quantity-list .quantity-item {
    width: 100% !important;
  }
}
.product-section .title {
  font-size: 3.2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
.product-section .product-list {
  width: 90%;
  margin: auto;
}
.product-section .product-list .row {
  row-gap: 96px;
}
.product-section .product-list .product-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-section .product-list .product-item .image {
  position: relative;
  width: 269.316px;
  height: 269.316px;
  border-radius: 269.316px;
  margin-bottom: 103px;
}
.product-section .product-list .product-item .image.bg-orange {
  background: #ffba94;
}
.product-section .product-list .product-item .image.bg-green {
  background: #c5ffa8;
}
.product-section .product-list .product-item .image img {
  position: absolute;
  bottom: -30%;
  left: 50%;
  translate: -50% 0;
}
.product-section .product-list .product-item .name {
  margin-bottom: 30px;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}
.product-section .product-list .product-item .name.text-shadow {
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
}
.product-section .product-list .product-item .name::after {
  content: "";
  display: block;
  width: 40px;
  height: 2 px;
  background: #a3a3a3;
  position: absolute;
  bottom: -12px;
  left: 50%;
  translate: -50% 0;
}
.product-section .product-list .product-item .desc {
  color: #656565;
  line-height: 1.4;
}
.product-section .product-list .product-item .price {
  margin-bottom: 31px;
}
.product-section .product-list .product-item .price span {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.4;
}

@media screen and (max-width: 1199.98px) {
  .product-section .title {
    font-size: 3rem;
  }
  .product-section .product-list {
    width: 80%;
  }
  .product-section .product-list .row {
    row-gap: 60px;
  }
  .product-section .product-list .product-item .image {
    width: 230px;
    height: 230px;
    margin-bottom: 90px;
  }
  .product-section .product-list .product-item .image img {
    max-width: 90%;
  }
  .product-section .product-list .product-item .name {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .product-section .product-list .product-item .price span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 991.98px) {
  .product-section .title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767.98px) {
  .product-section .product-list .row {
    row-gap: 40px;
  }
  .product-section .product-list .product-item .image {
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
  }
  .product-section .product-list .product-item .image img {
    max-width: 90%;
  }
  .product-section .product-list .product-item .name,
  .product-section .product-list .product-item .price {
    margin-bottom: 15px;
  }
  .product-section .product-list .product-item .desc,
  .product-section .product-list .product-item .price,
  .product-section .product-list .product-item .btn {
    font-size: 1.4rem;
  }
  .product-section .product-list .product-item .name,
  .product-section .product-list .product-item .price span {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 575.98px) {
  .product-section {
    padding-top: 70px;
  }
  .product-section .product-list {
    width: 100%;
  }
  .product-section .product-list .row {
    row-gap: 40px;
  }
  .product-section .product-list .product-item .image {
    width: 150px;
    height: 150px;
    margin-bottom: 60px;
  }
  .product-section .product-list .product-item .image img {
    max-width: 90%;
  }
  .product-section .product-list .product-item .name,
  .product-section .product-list .product-item .price {
    margin-bottom: 15px;
  }
  .product-section .product-list .product-item .desc,
  .product-section .product-list .product-item .price,
  .product-section .product-list .product-item .btn {
    font-size: 1.3rem;
  }
  .product-section .product-list .product-item .name,
  .product-section .product-list .product-item .price span {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450.98px) {
  .product-section {
    padding-top: 50px;
  }
  .product-section .title {
    margin-bottom: 40px;
  }
  .product-section .product-list .row {
    row-gap: 20px;
  }
  .product-section .product-list .product-item .image {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }
  .product-section .product-list .product-item .image img {
    max-width: 100%;
    bottom: 0%;
  }
  .product-section .product-list .product-item .image.bg-orange, .product-section .product-list .product-item .image.bg-green {
    background: none;
  }
  .product-section .product-list .product-item .name,
  .product-section .product-list .product-item .price {
    margin-bottom: 10px;
  }
  .product-section .product-list .product-item .btn {
    font-size: 1rem;
  }
  .product-section .product-list .product-item .desc,
  .product-section .product-list .product-item .price {
    font-size: 1.1rem;
  }
  .product-section .product-list .product-item .name,
  .product-section .product-list .product-item .price span {
    font-size: 1.2rem;
  }
}
.news-section .content-title {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 23px;
}
.news-section .content-text {
  max-width: 55%;
  margin: 0 auto;
}
.news-section .news-list {
  margin: 29px 0 79px;
}
.news-section .news-list .news-item {
  display: block;
}
.news-section .news-list .news-item:hover {
  color: #2c2c2c;
}
.news-section .news-list .news-item .image {
  width: 100%;
  border-radius: 6.667px;
  overflow: hidden;
  margin-bottom: 16.27px;
}
.news-section .news-list .news-item .image img {
  border-radius: 6.667px;
  width: 100%;
}
.news-section .news-list .news-item .time-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-section .news-list .news-item .time-box span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #a3a3a3;
}
.news-section .news-list .news-item .time-box span.text {
  color: #46b20f;
}
.news-section .news-list .news-item .time-box span.time i {
  margin-right: 10px;
}
.news-section .news-list .news-item .title {
  margin: 16.27px 0;
  font-size: 2rem;
  font-weight: 600;
}
.news-section .news-list .news-item:hover .image img {
  box-shadow: 0px 3.333px 3.333px 0px rgba(0, 0, 0, 0.25);
}
.news-section .news-list .news-item:hover .time-box span.time {
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1399.98px) {
  .news-section .container {
    max-width: 1140px;
    margin: auto;
  }
}
@media screen and (max-width: 1199.98px) {
  .news-section .container {
    max-width: 960px;
    margin: auto;
  }
  .news-section .content-title {
    font-size: 3rem;
  }
  .news-section .content-text {
    max-width: 70%;
    margin: 0 auto;
  }
  .news-section .news-list .row {
    row-gap: 20px;
  }
  .news-section .news-list .news-item .image {
    margin-bottom: 10px;
  }
  .news-section .news-list .news-item .time-box span {
    font-size: 1.3rem;
  }
  .news-section .news-list .news-item .title {
    margin: 10px 0;
    font-size: 1.8rem;
  }
  .news-section .news-list .news-item .text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 991.98px) {
  .news-section .container {
    max-width: 720px;
    margin: auto;
  }
  .news-section .content-title {
    font-size: 2.5rem;
  }
  .news-section .content-text {
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
  }
  .news-section .news-list .news-item .title {
    font-size: 1.7rem;
  }
  .news-section .news-list .news-item .text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767.98px) {
  .news-section .container {
    max-width: 540px;
    margin: auto;
  }
}
@media screen and (max-width: 575.98px) {
  .news-section {
    padding-top: 70px;
  }
  .news-section .container {
    max-width: 90%;
    margin: auto;
  }
  .news-section .news-list {
    margin-bottom: 39px;
  }
  .news-section .news-list .news-item .image {
    width: 100%;
    text-align: center;
  }
  .news-section .news-list .news-item .title {
    font-size: 1.6rem;
  }
  .news-section .news-list .news-item .text {
    font-size: 1.3rem;
  }
  .news-section .text-center .btn {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 450.98px) {
  .news-section {
    padding-top: 50px;
  }
  .news-section .container {
    max-width: 100%;
    margin: auto;
  }
  .news-section .content-title {
    font-size: 2.3rem;
    margin-bottom: 15px;
  }
  .news-section .content-text {
    font-size: 1.3rem;
  }
  .news-section .news-list .news-item .time-box span.time i {
    margin-right: 5px;
  }
}
.benefit-section {
  position: relative;
  padding-bottom: 116px;
}
.benefit-section .content-title {
  font-size: 3.2rem;
  font-weight: 800;
}
.benefit-section .content-text {
  margin: 24px 0 50px;
}
.benefit-section .benefit-list .benefit-item {
  height: 380px;
  border-radius: 8.333px;
  background: #fff;
}
.benefit-section .benefit-list .benefit-item .images {
  width: 100%;
}
.benefit-section .benefit-list .benefit-item .images img {
  width: 100%;
}
.benefit-section .benefit-list .benefit-item .text-wrap {
  padding: 24.17px 27.5px 0;
}
.benefit-section .benefit-list .benefit-item .text-wrap .title {
  color: #e05000;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 6px;
}
.benefit-section .benefit-list .benefit-item:hover .text-wrap .title {
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
}
.benefit-section .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 360.833px;
  background: var(--Orange-100, #fff0e7);
}

@media screen and (max-width: 1399.98px) {
  .benefit-section .container {
    max-width: 1140px;
    margin: auto;
  }
}
@media screen and (max-width: 1199.98px) {
  .benefit-section .container {
    max-width: 960px;
    margin: auto;
  }
  .benefit-section .content-title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 991.98px) {
  .benefit-section {
    padding-bottom: 0;
  }
  .benefit-section .container {
    max-width: 720px;
    margin: auto;
  }
  .benefit-section .content-title {
    font-size: 2.5rem;
  }
  .benefit-section .content-text {
    font-size: 1.4rem;
  }
  .benefit-section .benefit-list .benefit-item {
    height: fit-content;
  }
  .benefit-section .benefit-list .benefit-item .text-wrap {
    padding: 10px 0 20px;
  }
  .benefit-section .benefit-list .benefit-item .text-wrap .title {
    font-size: 1.8rem;
  }
  .benefit-section .benefit-list .benefit-item .text-wrap .text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767.98px) {
  .benefit-section .container {
    max-width: 540px;
    margin: auto;
  }
}
@media screen and (max-width: 575.98px) {
  .benefit-section {
    padding-top: 70px;
  }
  .benefit-section .container {
    max-width: 90%;
    margin: auto;
  }
  .benefit-section .content-title {
    font-size: 2.3rem;
  }
  .benefit-section .content-text {
    font-size: 1.3rem;
  }
  .benefit-section .benefit-list .benefit-item .text-wrap .title {
    font-size: 1.6rem;
  }
  .benefit-section .benefit-list .benefit-item .text-wrap .text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 450.98px) {
  .benefit-section {
    padding-top: 50px;
  }
  .benefit-section .container {
    max-width: 100%;
    margin: auto;
  }
}
.service-section {
  padding-top: 133px;
}
.service-section .service-list {
  max-width: 90%;
  margin: 0 auto;
}
.service-section .service-list .row {
  row-gap: 30px;
}
.service-section .service-list .service-item {
  max-width: 90%;
  margin: 0 auto;
}
.service-section .service-list .service-item-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-section .service-list .service-item-image img {
  width: 55px;
  height: auto;
}
.service-section .service-list .service-item-content .title {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 600;
}
.service-section .service-list .service-item-content .text {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4;
}

@media screen and (max-width: 1399.98px) {
  .service-section .container {
    max-width: 1140px;
    margin: auto;
  }
  .service-section .service-list {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199.98px) {
  .service-section .container {
    max-width: 960px;
    margin: auto;
  }
  .service-section .service-list .service-item {
    max-width: 100%;
    margin: 0 auto;
  }
  .service-section .service-list .service-item-content .title {
    font-size: 1.8rem;
  }
  .service-section .service-list .service-item-content .text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 991.98px) {
  .service-section .container {
    max-width: 720px;
    margin: auto;
  }
  .service-section .service-list .service-item-content .title {
    font-size: 1.7rem;
  }
  .service-section .service-list .service-item-content .text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767.98px) {
  .service-section .container {
    max-width: 540px;
    margin: auto;
  }
  .service-section .service-list {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 575.98px) {
  .service-section {
    padding-top: 50px;
  }
  .service-section .container {
    max-width: 100%;
    margin: auto;
  }
  .service-section .service-list {
    max-width: 80%;
    margin: 0 auto;
  }
  .service-section .service-list .service-item-content .title {
    font-size: 1.6rem;
  }
  .service-section .service-list .service-item-content .text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 450.98px) {
  .service-section .service-list {
    max-width: 100%;
    margin: 0 auto;
  }
  .service-section .service-list .service-item {
    max-width: 90%;
    margin: 0 auto;
  }
  .service-section .service-list .service-item-image img {
    width: 50px;
  }
}
.form-section {
  padding-top: 133px;
  padding-bottom: 100px;
}
.form-section .image {
  width: 100%;
}
.form-section .content {
  margin-top: 50px;
}
.form-section .content-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 26px;
}
.form-section .content .form .row {
  row-gap: 22.67px;
}
.form-section .content .form .form-field {
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
  overflow: hidden;
}
.form-section .content .form .form-field input,
.form-section .content .form .form-field textarea {
  width: 100%;
  padding: 13px;
}
.form-section .content .form .form-field input::placeholder,
.form-section .content .form .form-field textarea::placeholder {
  color: #a3a3a3;
}
.form-section .content .form .btn-wrap {
  text-align: right;
}
.form-section .content .form .btn-submit {
  width: 128px;
  font-size: 1.7rem;
}

@media screen and (max-width: 1399.98px) {
  .form-section .container {
    max-width: 1140px;
    margin: auto;
  }
}
@media screen and (max-width: 1199.98px) {
  .form-section .container {
    max-width: 960px;
    margin: auto;
  }
  .form-section .content-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .form-section .content .form .row {
    row-gap: 15px;
  }
}
@media screen and (max-width: 991.98px) {
  .form-section .container {
    max-width: 720px;
    margin: auto;
  }
  .form-section .row {
    row-gap: 50px;
  }
  .form-section .image,
  .form-section .content {
    max-width: 80%;
    margin: 0 auto;
  }
  .form-section .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-section .content {
    text-align: center;
  }
  .form-section .content .form .form-field {
    text-align: left;
  }
  .form-section .content .form .form-field input,
  .form-section .content .form .form-field textarea {
    font-size: 1.4rem;
  }
  .form-section .content .form .btn-wrap {
    text-align: center;
  }
  .form-section .content .form .btn-submit {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767.98px) {
  .form-section .container {
    max-width: 540px;
    margin: auto;
  }
}
@media screen and (max-width: 575.98px) {
  .form-section .container {
    max-width: 100%;
    margin: auto;
  }
  .form-section .image,
  .form-section .content {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450.98px) {
  .form-section {
    padding-bottom: 50px;
  }
  .form-section .image,
  .form-section .content {
    max-width: 100%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
