* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.8;
  margin: 30px auto;
}
.arrow-left {
  margin-top: 20px;
  margin-left: 20px;
  clear: both;
}
.booking {
  width: 1140px;
  width: fit-content;
  margin: 0 auto;
}

.booking h3 {
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-align: center;
}

.booking h2 {
  font-size: 45px;
  font-family: "Alfa Slab One", serif;
  text-align: center;
}

.booking-form input,
.booking-form button {
  width: 297px;
  margin: 0 5px 10px 5px;
  border: 1px solid #ccc;
}
.booking-form input {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
}
.booking-form input::placeholder {
  color: #888888;
  font-family: "Bebas Neue", sans-serif;
}
.booking-form input:focus {
  outline: none;
}

.booking-form button.btn {
  font-size: 14px;
  padding: 13px;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  background-color: #af332b;
  border-radius: 5px;
  color: #fff;
  border: none;
  text-align: center;
}
.booking-form button.btn:hover {
  cursor: pointer;
  background-color: #7e211b;
}
