// Định nghĩa các class hay sử dụng
@use "../partials/variables" as v;

.container {
    --container-width: 1200px;
}
.text-center {
    text-align: center;
}
.btn {
    padding: 13.333px 11.667px;
    color: #fff;
    border-radius: 6.667px;
    font-weight: 700;
    display: inline-block;
    &.btn-primary {
        background: v.$primaryColor;
        &:hover {
            background: v.$secondaryColor;
        }
    }
    &.btn-outline-primary {
        padding: 11.667px 21.667px;
        border: 1px solid v.$primaryColor;
        color: v.$textColor;
        svg {
            float: right;
            margin-top: -2px;
        }
        &:hover {
            background: v.$primaryColor;
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
    &:hover {
        color: #fff;
    }
}
