// Khai báo biến
$primaryColor: #46b20f;
$secondaryColor: #ff6916;
$backgroundColor: #dcffca;
$headingColor: #2c2c2c;
$textColor: #2c2c2c;
$linkColor: #2c2c2c;
$primaryText: "Inter", sans-serif;
$textSize: 1.6rem;
$f-10: 1rem;
$f-20: 2rem;
$fw-500: 500;
$white: #fff;
$red: #ff6651;
$headerColumnGap: 50px;
$headerHeight: 108px;
$orange-100: #fff0e7;
$green-100: #f2ffec;
$orange-200: #ffd5bd;
$green-200: #dcffca;
$orange-300: #ffba94;
$orange-700: #e05000;
$green-300: #c5ffa8;
$grey-500: #a3a3a3;
$grey-800: #656565;
$headingSize: 3.2rem;
$headingSize-desk: 3rem;
$headingSize-tablet: 2.5rem;
$headingSize-small: 2.3rem;
$textSize-tablet: 1.4rem;
$textSize-small: 1.3rem;
$white: #fff;
