// Khai báo biến
$primaryColor: #46b20f;
$secondaryColor: #ff6916;
$backgroundColor: #dcffca;
$headingColor: #2c2c2c;
$textColor: #2c2c2c;
$linkColor: #2c2c2c;
$primaryText: "Inter", sans-serif;
$textSize: 1.6rem;
$f-10: 1rem;
$f-20: 2rem;
$fw-500: 500;
$white: #fff;
$red: #ff6651;
$headerColumnGap: 50px;
$headerHeight: 108px;
