@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --header-color: #bf4240;
  --text-color: #3f3424;
  --text-font: "Asap", sans-serif;
  --price-font: "Oswald", sans-serif;
  --profile-font: "Oswald", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: var(--text-font);
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
}
a {
  color: var(--text-color);
}
.highlight-section {
  max-width: 1140px;
  margin: 0 auto;
}
.highlight-header {
  position: relative;
}
.highlight-header-text {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 20px 20px 0;
  background: #fff;
}
.highlight-header-line {
  width: 100%;
  height: 1px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.highlight-city {
  margin-bottom: 20px;
}
.city-list {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.city-item {
  width: 12.5%;
  text-align: center;
  margin: 0 7px;
}
.city-item:first-child {
  margin-left: 0;
}
.city-item:last-child {
  margin-right: 0;
}
.city-link {
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background: #ccc;
  font-weight: 600;
  line-height: 1;
}

.city-link span {
  margin-top: 5px;
  font-size: 1rem;
  display: block;
  font-style: italic;
}
.city-item:hover .city-link,
.city-item .active-link {
  background: #af7b38;
  color: #fff;
}
.highlight-district {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.district-item {
  width: 32%;
  margin-bottom: 20px;
  box-shadow: 2px 5px 10px 2px #979797;
}
.district-link {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  color: #fff;
}
.district-link-img {
  width: 100%;
  height: 100%;
}
.district-item,
.district-link-img,
.overlay {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.overlay {
  position: absolute;
  inset: 0;
  background: #00000042;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.district-link-header {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  font-weight: 500;
}
.district-link-desc {
  position: absolute;
  bottom: 20px;
  font-size: 1.5rem;
  left: 20px;
}
.district-item:hover .overlay {
  background: #00000015;
}
