* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.feedback-client {
  width: 1140px;
  margin: 0 auto;
}
.feedback-client h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 50px 0 0 0;
  text-align: center;
  position: relative;
}
.feedback-client h2::after {
  position: absolute;
  content: "";
  display: block;
  left: 48%;
  bottom: -10px;
  width: 60px;
  height: 3px;
  background-color: #627bff;
}
.feedback-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}
.feedback-item {
  width: 33%;
  display: flex;
  margin-bottom: 20px;
}

.feedback-item .avatar {
  width: 30%;
  display: flex;
  justify-content: center;
}
.feedback-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
}
.feedback-item .message {
  width: 70%;
}
.message .detail {
  font-style: italic;
  color: rgb(170, 169, 169);
}
.message .name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(147, 147, 147);
}
