@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rajdhani:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
:root {
  --primary-text: "Nunito", sans-serif;
  --orange-color: #ffa500;
  --white-color: #fff;
  --light-bg-color: #efefef;
  --night-bg-color: #222;
  --black-color: #000;
  --light-text-color: #eee;
  --night-text-color: #aaa;
  --header-bg-color: #353535;
}
